@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 334 0% 100%;
    --foreground: 334 0% 10%;
    --card: 334 0% 100%;
    --card-foreground: 334 0% 15%;
    --popover: 334 0% 100%;
    --popover-foreground: 334 95% 10%;
    --primary: 334 74.6% 86.1%;
    --primary-foreground: 0 0% 0%;
    --secondary: 334 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 296 10% 95%;
    --muted-foreground: 334 0% 40%;
    --accent: 296 10% 90%;
    --accent-foreground: 334 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 334 0% 100%;
    --border: 334 20% 82%;
    --input: 334 20% 50%;
    --ring: 334 74.6% 86.1%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 334 10% 10%;
    --foreground: 334 0% 100%;
    --card: 334 0% 10%;
    --card-foreground: 334 0% 100%;
    --popover: 334 10% 5%;
    --popover-foreground: 334 0% 100%;
    --primary: 334 74.6% 86.1%;
    --primary-foreground: 0 0% 0%;
    --secondary: 334 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 296 10% 25%;
    --muted-foreground: 334 0% 65%;
    --accent: 296 10% 25%;
    --accent-foreground: 334 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 334 0% 100%;
    --border: 334 20% 50%;
    --input: 334 20% 50%;
    --ring: 334 74.6% 86.1%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
